<h1><%= @promotion.abbrev %></h1>

<%= image_tag @promotion.logo, :class => 'logo_full' %>
<p>Name: <%= @promotion.name %></p>
<p>Country: <%= @promotion.country %></p>
<p>Year started: <%= @promotion.year %></p>
<p><%= link_to image_tag("insta.png", :class => 'insta'), @promotion.instagram, target: :_blank %></p>
<%= link_to "Edit Promotion", edit_promotion_path %>
<%= link_to "Delete Promotion", promotion_path(@promotion), :method => :delete, :data => { :confirm => 'Are you sure?' } %>